@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* color scheme #212121, #00425A, #1F8A70, #6F4DFB */

:root{
    --light-theme: #f6f7fb;
    --grey-theme: #616161;
    --main-color: #6F4DFB;
    --second-color: #26a69a;
    --background-color: #212121;
}

/*Global style*/

*, *::before, *::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    position: relative;
    z-index: 5;
    max-width: 90rem;
    padding: 0 4rem; 
    margin: 0 auto;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
}
  
.text{
    font-size: 1.25rem;
    color: var(--background-color);
    line-height: 1.6;
}

.column-1{
    margin-right: 1.5rem;
}

.column-2{
    margin-left: 1.5rem;
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    padding: 7rem 0;
}

.section-header{
    text-align: center;
    margin-bottom: 1.5rem;
}

.title{
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: .6rem;
}

.title:before{
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title:after{
    content: "";
    position: absolute;
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header.text{
    max-width: 600px;
    margin: 0 auto;
}

.title-sm{
    color: var(--background-color);
    font-weight: 600;
    font-size: 1.6rem;
}

.btn.small{
    padding: 0.5rem 1.8rem;
    font-size: 1rem;
}

.btn{
    display: inline-block;
    padding: .85rem 2rem;
    background-color: var(--main-color);
    color: var(--light-theme);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s;
}

.btn:hover{
    background-color: #513ba9;
}

/*Global style end*/

/* animated ripples */

.ripple-background{  
    position: relative;
    bottom: -50%;
    z-index: 7;
>div{
    animation: growAndFade 6s infinite ease-out;
    background-color: white;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }
  
  .circle1{
    animation-delay: 3s;
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .circle2{
    animation-delay: 0s;
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
    }
  
  @keyframes growAndFade{
    0%{
      opacity: 0.25;
      transform: scale(0);
    }
    100%{
        opacity: 0;
      transform: scale(1);
    }
  }

/* animated ripples end */

/* header */

header{
    width: 100%;
    background-color: #d7cdfe;
    overflow: hidden;
    position: relative;
}

nav{
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container{
    display: flex;
    justify-content: space-between; 
    height: 4rem;
    align-items: center;
}

.logo{
    width: 100px;
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
}

.links a{
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--background-color);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transform: 0.3s;
}

.links a.active{
    background-color: var(--main-color);
    color: var(--light-theme);
    border-radius: 2rem; 
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover{
    color: var(--main-color);
}

.links a.active:hover{
    color: var(--light-theme);
    background-color: #513ba9;
}

.header-content .container.grid-2{
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 10rem) ;
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-title{
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--background-color);
}

.header-content .text{
    margin: 2.15rem 0;
}


.header-content .image .img-element {
    max-width: 750px;
}

 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
 }

.overlay .shape{
    width: initial;
    opacity: 0.13;
    position: absolute;
}

.overlay.overlay-lg .shape{
    width: 55px;
}

.overlay.overlay-lg .shape.xshape{
    height: 38px;
}

header .square{
    right: 8%;
    top: 40%;
}

header .triangle{
    right: 5%;
    top: 60%;
}

header .xshape{
    right: 5%;
    bottom: 70%;
}

header .circleshape{
    right: 15%;
    top: 22%;
}

/* header end */

/* Portfolio */

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-wrap{
    margin: 1.7rem 0.8rem;
}

.card{
    position: relative;
    width: 100%;
    max-width: 390px;
    min-height: 520px;
    background-color: var(--light-theme);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 2rem;
    overflow: hidden;
    transition: 0.3s;
}

.card:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transition: 0.3s;
}

.card-wrap:hover .card{
    transform: translateY(-15px);
}

.card-wrap:hover .card:after{
    height: 8px;
}

.icon{
    width: 90px;
    margin-bottom: 1.7rem;
}

.card .title-sm{
    line-height: 0.8;
}

.card .text{
    font-size: 1.15rem;
    margin: 1.8rem 0;
}



/* portfolio ends */