@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* color scheme #212121, #00425A, #1F8A70, #6F4DFB */

:root{
    --light-theme: #f6f7fb;
    --grey-theme: #616161;
    --main-color: #6F4DFB;
    --second-color: #26a69a;
    --background-color: #212121;
}

/*Global style*/

*, *::before, *::after{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input, textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

.container{
    position: relative;
    z-index: 5;
    max-width: 90rem;
    padding: 0 4rem; 
    margin: 0 auto;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-self: center;
}
  
.text{
    font-size: 1.25rem;
    color: var(--background-color);
    line-height: 1.6;
}

/*Global style end*/

/* header */

header{
    width: 100%;
    background-color: #d7cdfe;
    overflow: hidden;
}

nav{
    width: 100%;
    position: relative;
    z-index: 50;
}

nav .container{
    display: flex;
    justify-content: space-between; 
    height: 4rem;
    align-items: center;
}

.logo{
    width: 100px;
    display: flex;
    align-items: center;
}

.links ul{
    display: flex;
}

.links a{
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: var(--background-color);
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1;
    transform: 0.3s;
}

.links a.active{
    background-color: var(--main-color);
    color: var(--light-theme);
    border-radius: 2rem; 
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}

.links a:hover{
    color: var(--main-color);
}

.links a.active:hover{
    color: var(--light-theme);
    background-color: #513ba9;
}

.header-content .container.grid-2{
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 10rem) ;
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-title{
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--background-color);
}

.header-content .text{
    margin: 2.15rem 0;
}

.btn{
    display: inline-block;
    padding: .85rem 2rem;
    background-color: var(--main-color);
    color: var(--light-theme);
    border-radius: 2rem;
    font-size: 1.05rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s;
}

.btn:hover{
    background-color: #513ba9;
}

/* header end */